HTML,BODY {
cursor: url("tools/rat.gif"), url("tools/rat.ani"), auto;
}
A:hover {
cursor: url("tools/hand.gif"), url("tools/hand.ani"), auto;
}
* {
  box-sizing: border-box;
}
body {
font-family: Courier New, times new roman;
background-color: #84c464;
background-image: url("images/gifs/frog.gif");
text-align: center;
}
#main {
float: center;
width: 90%;
height: auto;
background: #d3ac4b;
margin: 25px auto;
border: solid 2px #fff000;
padding: 10px;
}
h1 {
text-align: center;
font-family:"Courier New";
font: 24pt;
color: #ff0000;
}
h2 {
font-family:"Courier";
text-align: center;
text-indent: 48px;
}
h3 {
text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  display: inline;
}
a.room:link, a.room:visited {
  background-color: #f44336;
  color: white;
  padding: 4px 25px;
  text-align: center;
  text-decoration: none;
  display: block;
}
a.room:hover, a.room:active {
  background-color: red;
}
a:link, a:visited {
  color: #fff
}
a:hover, a:active {
  color: #f44336;
}


#banner {
  float: center;
  width: auto;
  height: auto;
  background: #000;
  padding: 20px;
  color: white;
  border-style: outset;
}



.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
}
.responsive {
width: 50%;
height: auto;
}


img.move:hover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
}
