HTML,BODY {
    cursor: url("tools/rat.gif"), url("tools/rat.ani"), auto;
    }
    A:hover {
    cursor: url("tools/hand.gif"), url("tools/hand.ani"), auto;
    }
    * {
      box-sizing: border-box;
    }
    body {
    font-family: Courier New, times new roman;
    background-color: #008b8c;
    background-image: url(images/gifs/grid_anti.gif);
    text-align: center;
    }
    #main {
    float: center;
    width: 90%;
    height: auto;
    background: #008b8c;
    margin: 25px auto;
    border: solid 2px #c7c3c9;
    padding: 10px;
    }


.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #c7c3c9;
    border: none;
    box-shadow: 0 9px #303030;
  }
  
  .button:hover {background-color: #cacaca}
  
  .button:active {
    background-color: #cacaca;
    box-shadow: 0 5px #303030;
    transform: translateY(4px);
  }


  .center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
  }

.responsive {
    width: 50%;
    height: auto;
  }
    