HTML,BODY {
    cursor: url("tools/rat.gif"), url("tools/rat.ani"), auto;
    }
    A:hover {
    cursor: url("tools/hand.gif"), url("tools/hand.ani"), auto;
    }
    * {
      box-sizing: border-box;
    }
    body {
    font-family: Courier New, times new roman;
    background-color: #040404;
    background-image: url(images/gifs/animate.gif);
    text-align: center;
    }
    #main {
    float: center;
    width: 90%;
    height: auto;
    background: #040404;
    margin: 25px auto;
    border: solid 2px #6404fc;
    padding: 10px;
    }


.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: #d22efc;
    border: none;
    box-shadow: 0 9px #6404fc;
  }
  
  .button:hover {background-color: #c034ff}
  
  .button:active {
    background-color: #c034ff;
    box-shadow: 0 5px #6404fc;
    transform: translateY(4px);
  }


  .center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
  }

.responsive {
    width: 50%;
    height: auto;
  }
    