HTML,BODY {
    cursor: url("tools/rat.ani"), url("tools/rat.gif"), auto;
    }
    A:hover {
    cursor: url("tools/hand.cur"), url("tools/hand.gif"), auto;
    }
    * {
        box-sizing: border-box;
      }
    body {
      font-family: Courier New, times new roman;
      background-image: url("images/gifs/we-love-sg-cr-long-grey.gif");
      background-attachment: fixed;
      text-align: center;
    }
